In [21]:
import seaborn as sns

df = sns.load_dataset('tips')

df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [2]:
# total_bill, tip, size의 평균과 표준 편자 구하기
# tip의 최대값과 최소값 구하기
# 팁이 지불 금액에 몇 %인지 파생변수 추가하기(tip_rate)
# 요일 별 팁 평균 구하기
# 성별 별 팁 비율 평균 구하기
# tip_rate가 20% 이상 인 데이터 구하기
# total_bill이 전체 평균보다 큰 데이터 구하기
# size가 4이상인 팁 평균 구하기
# time 별 total_bill 평균,합계 구하기
# 성별과 시간대별 tip_rate 평균 구하기

In [22]:
df.groupby('total_bill').agg(
  bill_avg = ('total_bill','mean'),
  tip_avg = ('tip','mean'),
  size_avg = ('size','mean')
).std()

bill_avg    9.032389
tip_avg     1.386241
size_avg    0.949583
dtype: float64

In [ ]:
df['tip'].max()
df['tip'].min()

np.float64(10.0)

In [26]:
# 1.
df[ ['total_bill','tip','size'] ].agg(['mean','std'])

      total_bill       tip      size
mean   19.785943  2.998279  2.569672
std     8.902412  1.383638  0.951100

In [27]:
# 2.
df['tip'].agg(['min','max'])

min     1.0
max    10.0
Name: tip, dtype: float64

In [29]:
# 3.
df['tip_rate'] = df['tip'] / df['total_bill']
                              
df.head()

   total_bill   tip     sex smoker  day    time  size  tip_rate
0       16.99  1.01  Female     No  Sun  Dinner     2  0.059447
1       10.34  1.66    Male     No  Sun  Dinner     3  0.160542
2       21.01  3.50    Male     No  Sun  Dinner     3  0.166587
3       23.68  3.31    Male     No  Sun  Dinner     2  0.139780
4       24.59  3.61  Female     No  Sun  Dinner     4  0.146808

In [30]:
# 4.
df.groupby('day')['tip'].mean()

C:\Users\M\AppData\Local\Temp\ipykernel_6616\1851271534.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('day')['tip'].mean()

day
Thur    2.771452
Fri     2.734737
Sat     2.993103
Sun     3.255132
Name: tip, dtype: float64

In [31]:
#  5.
df.groupby('sex')['tip_rate'].mean()

C:\Users\M\AppData\Local\Temp\ipykernel_6616\1800881230.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('sex')['tip_rate'].mean()

sex
Male      0.157651
Female    0.166491
Name: tip_rate, dtype: float64

In [ ]:
# df[df['tip_rate']>=0.2] ->  이건 다시 한번 체크 
df.query("tip_rate >= 0.2").head()

    total_bill   tip     sex smoker  day    time  size  tip_rate
6         8.77  2.00    Male     No  Sun  Dinner     2  0.228050
9        14.78  3.23    Male     No  Sun  Dinner     2  0.218539
14       14.83  3.02  Female     No  Sun  Dinner     2  0.203641
17       16.29  3.71    Male     No  Sun  Dinner     3  0.227747
18       16.97  3.50  Female     No  Sun  Dinner     3  0.206246

In [34]:
# 7.
df[df['total_bill'] > df['total_bill'].mean()]

     total_bill   tip     sex smoker  day    time  size  tip_rate
2         21.01  3.50    Male     No  Sun  Dinner     3  0.166587
3         23.68  3.31    Male     No  Sun  Dinner     2  0.139780
4         24.59  3.61  Female     No  Sun  Dinner     4  0.146808
5         25.29  4.71    Male     No  Sun  Dinner     4  0.186240
7         26.88  3.12    Male     No  Sun  Dinner     4  0.116071
..          ...   ...     ...    ...  ...     ...   ...       ...
237       32.83  1.17    Male    Yes  Sat  Dinner     2  0.035638
238       35.83  4.67  Female     No  Sat  Dinner     3  0.130338
239       29.03  5.92    Male     No  Sat  Dinner     3  0.203927
240       27.18  2.00  Female    Yes  Sat  Dinner     2  0.073584
241       22.67  2.00    Male    Yes  Sat  Dinner     2  0.088222

[99 rows x 8 columns]

In [37]:
# 8.
df[df['size'] >= 4]['tip'].mean()

np.float64(4.218478260869565)

In [38]:
# 9.
df.groupby('time')['total_bill'].agg(['mean','sum'])

C:\Users\M\AppData\Local\Temp\ipykernel_6616\2937316598.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('time')['total_bill'].agg(['mean','sum'])

             mean      sum
time
Lunch   17.168676  1167.47
Dinner  20.797159  3660.30

In [39]:
# 10.
df.groupby(['sex','time'])['tip_rate'].mean()

C:\Users\M\AppData\Local\Temp\ipykernel_6616\928863561.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['sex','time'])['tip_rate'].mean()

sex     time
Male    Lunch     0.166083
        Dinner    0.155407
Female  Lunch     0.162285
        Dinner    0.169322
Name: tip_rate, dtype: float64

In [40]:
# 알바를 하려고 하는데 언제 알바 하는 게 팁을 가장 많이 받을까?
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size',
       'tip_rate'],
      dtype='object')

In [41]:
df

     total_bill   tip     sex smoker   day    time  size  tip_rate
0         16.99  1.01  Female     No   Sun  Dinner     2  0.059447
1         10.34  1.66    Male     No   Sun  Dinner     3  0.160542
2         21.01  3.50    Male     No   Sun  Dinner     3  0.166587
3         23.68  3.31    Male     No   Sun  Dinner     2  0.139780
4         24.59  3.61  Female     No   Sun  Dinner     4  0.146808
..          ...   ...     ...    ...   ...     ...   ...       ...
239       29.03  5.92    Male     No   Sat  Dinner     3  0.203927
240       27.18  2.00  Female    Yes   Sat  Dinner     2  0.073584
241       22.67  2.00    Male    Yes   Sat  Dinner     2  0.088222
242       17.82  1.75    Male     No   Sat  Dinner     2  0.098204
243       18.78  3.00  Female     No  Thur  Dinner     2  0.159744

[244 rows x 8 columns]

In [43]:
df.groupby('time')['tip_rate'].agg(['mean','count'])

C:\Users\M\AppData\Local\Temp\ipykernel_6616\1620736013.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('time')['tip_rate'].agg(['mean','count'])

            mean  count
time
Lunch   0.164128     68
Dinner  0.159518    176

In [44]:
df.groupby('day')['tip_rate'].agg(['mean','count'])

C:\Users\M\AppData\Local\Temp\ipykernel_6616\820398204.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('day')['tip_rate'].agg(['mean','count'])

          mean  count
day
Thur  0.161276     62
Fri   0.169913     19
Sat   0.153152     87
Sun   0.166897     76

In [46]:
df.groupby('sex')['tip_rate'].agg(['mean','count'])

C:\Users\M\AppData\Local\Temp\ipykernel_6616\639409410.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('sex')['tip_rate'].agg(['mean','count'])

            mean  count
sex
Male    0.157651    157
Female  0.166491     87

In [47]:
df.groupby('smoker')['tip_rate'].agg(['mean','count'])

C:\Users\M\AppData\Local\Temp\ipykernel_6616\2350913339.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('smoker')['tip_rate'].agg(['mean','count'])

            mean  count
smoker
Yes     0.163196     93
No      0.159328    151

In [48]:
df.groupby('size')['tip_rate'].agg(['mean','count'])

          mean  count
size
1     0.217292      4
2     0.165719    156
3     0.152157     38
4     0.145949     37
5     0.141495      5
6     0.156229      4

In [ ]:
# 다시 해야 할 듯
df.groupby(['time','day','sex','smoker','size']).agg(mean=("tip_rate","mean"),n=("tip_rate","mean")).query("n >= 10").sort_values('mean',ascending=False)

C:\Users\M\AppData\Local\Temp\ipykernel_6616\216730348.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['time','day','sex','smoker','size']).agg(mean=("tip_rate","mean"),n=("tip_rate","mean")).query("n >= 10").sort_values('mean',ascending=False)

Empty DataFrame
Columns: [mean, n]
Index: []